body {
    background: #ECECEC;
}

header {
    background: #FFFFFF;
}

.top-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar .item {
    flex-grow: 1;
    height: 100px;
}

.top-bar .item + .item {
    margin-left: 2%;
}

/*.top-bar .logo {*/
/*    margin-left: 80px;*/
/*    float: left;*/
/*    width: 266px;*/
/*    height: 66px;*/
/*}*/

/*.top-bar nav {*/
/*    position: absolute;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*}*/

/*.top-bar nav ul {*/
/*    display: flex;*/
/*    list-style: none;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

/*.top-bar nav ul li {*/
/*    margin: 0 30px;*/
/*    font-family: 'Lato', sans-serif;*/
/*}*/

/*nav a {*/
/*    color: #0A241A;*/
/*    text-decoration: none;*/
/*    text-transform: uppercase;*/
/*}*/

/*.top-bar div.right-bar {*/
/*    margin-right: 80px;*/

/*}*/

/*.top-bar div.profile {*/
/*    margin-bottom: 10px;*/
/*    margin-top: 10px;*/

/*    display: inline-block;*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    overflow: hidden;*/
/*    border-radius: 50%;*/
/*}*/

/*.top-bar img.avatar {*/
/*    !*    width: auto;*!*/
/*    !*    height: 100%;*!*/
/*    !*    margin-left: -25px;*!*/
/*    !*}*/

/*    .top-bar div.settings {*/
/*        margin-left: 1000px; !* добавлено *!*/
/*}*/


